<div xmlns:th="http://www.thymeleaf.org">
  <form method="POST" th:action="@{'/books/{id}' (id=${book?.id})}">
    <div>
      <label for="f1">Name</label>
      <input type="text"
             id="f1"
             name="name"
             th:value="${book?.name}"
             required>
    </div>
    <div>
      <label for="f2">Category</label>
      <select id="f2" name="category">
        <option th:each="category: ${categories}" th:text="${category}" th:value="${category}"  th:selected="${book?.category}"></option>
      </select>
    </div>
    <div>
      <label for="f3">Author</label>
      <select id="f3" name="authorId">
        <option th:each="author: ${authors}" th:text="${author.name}+' '+${author.surname}" th:value="${author.id}"  th:selected="${book?.author?.id == author.id}"></option>
      </select>
    </div>
    <div>
      <label for="f4">AvailableCopies</label>
      <input type="number"
             id="f4"
             name="availableCopies"
             th:value="${book?.availableCopies}"
             required>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/books" type="button" class="btn btn-primary">Back</a>
  </form>
</div>