<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/books">Books</a></li>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/categories">Categories</a></li>
    </ul>
  </nav>
</header>
<section th:include="${bodyContent}"></section>
<footer>
  <div>
    <ul id="nav">
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</footer>
</body>
</html>